html{
    scroll-behavior: smooth;
}
body{
    background-image: url(images/Background.png);
    background-size: cover;
    display: grid;
    margin: 0px;
    position: relative;
}
header{
    background-image: url(images/Header\ background.jpg);
    color: rgb(255, 255, 255);
    background-size: cover;
    opacity: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.h{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}
.div12{
    display: flex;
    justify-content: flex-end;
    gap: 7%;
    flex-direction: row;
    align-items: center;

}
.logo{
    height: 30px;
    width: 30px;
}
.logo:hover{
    transform: scale(1.2,1.2);
}
.inp{
    width: 200px;
    height: 200px;
}
.main-div{
    width: 100%;
    display: flex;
    width: 100%;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}
.div2{
    width: 10%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 7px 5px 30px rgb(39, 39, 40);
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.ul1{
    list-style-type: none;
    position: fixed;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.ul1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}
.ul1 a:hover{
    color: rgb(218, 79, 139);
    transition: ease-in-out 0.2s;
}
#home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Hide the actual checkbox from view */
.card-toggler {
  display: none;
}

.flip-card {
  display: flex;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

/* THE MAGIC: Rotate when checkbox is checked */
.card-toggler:checked ~ .flip-card .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.058);
}

.flip-card-back {
  background-color: #d2cdcdc5;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.img5{
    height: 450px;
    width: 450px;
    border-radius: 15px;
}
.home-div{
    display: flex;
    width: 100%;
    padding-top: 100px;
}
.div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;    
}
.div4{
    background-color: rgba(205, 193, 193, 0.301);
    width: 120px;
    height: 120px;
    display: grid;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0,4px 4px rgba(0, 0, 0, 0.425);
}
.h4{
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.div5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 1000px;
}
#about{
    text-align: center;
    font-size: 35px;
}
.p1{
    
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}
.arrow{
    font-size: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.arrow :hover{
    transform: scale(1.5,1.5);
    transition: ease 0.3s;
}
.div6{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.div7{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.div8{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#skills{
    font-size: 35px;
    text-align: center;
}
.imghtml{

    height: 250px ;
    width: 250px;
}
.imgcss{
    height: 250px;
    width: 250px;
}
.imgjs{
    height: 250px;
    width: 250px;
}
.imgc{
    height: 250px;
    width: 250px;
}
.imghtml:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
.imgcss:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
.imgjs:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
.imgc:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
.div9{
    text-align: center;
}
#projects{
    font-size: 35px;
}
.p2{
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}
.div10{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.div11{
    text-align: center;
    border: 5px black solid;
    border-radius: 25px;
    width: 600px;
    
}
#getintouch{
    font-size: 35px;
}
.inp1{
    width: 80%;
    height: 30px;
    border-radius: 5px;
}
.inp2{
    width: 80%;
    height: 150px;
    border-radius: 5px;
}
.btn{
    height: 25px;
    font-weight: bolder;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2 , 1.2);
    transition: ease-in 0.5s;
}


@media screen and (min-width:50px) {
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        height: 100px;
    }
    .h{
        font-size: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ul1{
        justify-content: space-evenly;
        padding-top: 150px;
    }
    .div2{
        width: 12%;
    }
    .div3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 600px;
        padding-left: 40px;
    }
    .flip-card{
        width: 800px;
        height: 800px;
    }  
    .img5{
        width: 800px;
        height: 800px;
    }
    .div12{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ul1 a{
        font-size: 30px;
    }
    .div5{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 500px;
    }
    #about{
        font-size: 100px;
    }
    .p1{
        font-size: 40px;
        width: 80%;
    }
    .div6{
        padding-top: 600px;
    }
    .div7{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #skills{
        font-size: 100px;
    }
    .div8{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        align-items: center;
    }
    .imghtml{
        width: 380px;
        height: 380px;
    }
    .imgcss{
        width: 380px;
        height: 380px;
        
    }
    .imgc{
        width: 380px;
        height: 380px;
        padding-top: 100px;
    }
    .imgjs{
        width: 380px;
        height: 380px;
        padding-top: 100px;
    }
    .div9{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        padding-top: 1000px;
    }
    #projects{
        font-size: 100px;
    }
    .p2{
        font-size: 40px;
        width: 100%;
    }
    .div9 img{
        height: 95%;
        width: 95%;
    }
    .div11{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #getintouch{
        font-size: 100px;
    }
    .div10{
        padding-top: 700px;
        margin-bottom: 700px;
    }
    .div11{
        width: 800px;
    }
    .inp1{
        width: 700px;
        height: 50px;
    }
    .inp2{
        width: 700px;
    }
    .div11 button {
        width: 400px;
        height: 50px;
    }
}
@media screen and (min-width:768px) {
    .h{
        font-size: 25px;
        padding-left: 10px;
    }
    .div3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-left: 40px;
    }
    #about{
        font-size: 60px;
    }
    .p1{
        font-size: 30px;
        width: 80%;
    }
    #skills{
        font-size: 80px;
    }
    .imghtml{
        width: 300px;
        height: 300px;
    }
    .imgcss{
        width: 300px;
        height: 300px;
        
    }
    .imgc{
        width: 300px;
        height: 300px;
        padding-top: 100px;
    }
    .imgjs{
        width: 300px;
        height: 300px;
        padding-top: 100px;
    }
    #projects{
        font-size: 80px;
    }
    .p2{
        font-size: 30px;
        width: 100%;
    }
    .div9 img{
        height: 50%;
        width: 40%;
    }
    #getintouch{
        font-size: 80px;
    }
    .div11{
        width: 800px;
    }
    .inp1{
        width: 700px;
        height: 50px;
    }
    .inp2{
        width: 700px;
    }
    .div11 button {
        width: 400px;
        height: 50px;
    }
}
@media screen and (min-width:1440px) {
    .h{
        font-size: 30px;
        padding-left: 10px;
    }
    #about{
        font-size: 60px;
    }
    .p1{
        font-size: 30px;
        width: 90%;
    }
    #skills{
        font-size: 80px;
    }
    .imghtml{
        width: 300px;
        height: 300px;
    }
    .imgcss{
        width: 300px;
        height: 300px;
        
    }
    .imgc{
        width: 300px;
        height: 300px;
        padding-top: 100px;
    }
    .imgjs{
        width: 300px;
        height: 300px;
        padding-top: 100px;
    }
    #projects{
        font-size: 80px;
    }
    .p2{
        font-size: 30px;
        width: 100%;
    }
    .div9 img{
        height: 60%;
        width: 60%;
    }
    #getintouch{
        font-size: 80px;
    }
    .div11{
        width: 800px;
    }
    .inp1{
        width: 700px;
        height: 50px;
    }
    .inp2{
        width: 700px;
    }
    .div11 button {
        width: 400px;
        height: 50px;
    }
}