html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    margin: 0px;
    position: relative;
}
.my-video{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}
header{
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: fixed;
    z-index: 1;
    align-items: center;
    margin-left: 5px;
    height: 100px;
}
.dropdown{
    position: relative;
}
.drop-content{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    min-width: 200px;
}
.dropdown:hover .drop-content{
    display: block;
}
.drop-content a{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    float: left;
}
.drop-content a:hover{
    transform: scale(1.1 ,1.1);
}
.btn2{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    height: 30px;
    font-size: 20px;
}
.dropdown:hover .btn2{
    display: block;
}
.a1{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.h{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}
.div12{
    display: flex;
    justify-content: flex-end;
    gap: 7%;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;

}
.logo{
    height: 30px;
    width: 30px;
}
.logo:hover{
    transform: scale(1.2,1.2);
}
.inp{
    width: 200px;
    height: 200px;
}
.main-div{
    width: 100%;
    display: flex;
    width: 100%;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}
.div2{
    width: 10%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 7px 5px 30px rgb(39, 39, 40);
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Hide the actual checkbox from view */
.card-toggler {
  display: none;
}

.flip-card {
  display: flex;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

/* THE MAGIC: Rotate when checkbox is checked */
.card-toggler:checked ~ .flip-card .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.058);
}

.flip-card-back {
  background-color: #d2cdcdc5;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.img5{
    height: 100%px;
    width: 100%;
    border-radius: 15px;
}
.home-div{
    display: flex;
    width: 100%;
    padding-top: 100px;
}
.div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}
.div4{
    background-color: rgba(205, 193, 193, 0.301);
    width: 120px;
    height: 120px;
    display: grid;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0,4px 4px rgba(0, 0, 0, 0.425);
}
.h4{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
#div5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 1000px;
}
.about{
    text-align: center;
    font-size: 35px;
    color: white;
}
.p1{
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    color: white;
}
.arrow{
    font-size: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.arrow :hover{
    transform: scale(1.5,1.5);
    transition: ease 0.3s;
}
#div6{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.div7{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.div8{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.skills{
    font-size: 35px;
    text-align: center;
    color: white;
}
.imghtml{
    height: 250px ;
    width: 250px;
}
.imgcss{
    height: 250px;
    width: 250px;
}
.imgjs{
    height: 250px;
    width: 250px;
}
.imgc{
    height: 250px;
    width: 250px;
}
.imghtml:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
.imgcss:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
.imgjs:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
.imgc:hover{
    transform: scale(0.5,0.5);
    transition: ease-in-out 0.5s;
}
#div9{
    text-align: center;
}
.projects{
    font-size: 35px;
    color: white;
}
.p2{
    color: white;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}
#div10{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.div11{
    text-align: center;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 25px;
    width: 600px;
    
}
.getintouch{
    font-size: 35px;
    color: white;
}
.inp1{
    width: 80%;
    height: 30px;
    border-radius: 5px;
}
.inp2{
    width: 80%;
    height: 150px;
    border-radius: 5px;
}
.btn{
    height: 25px;
    font-weight: bolder;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2 , 1.2);
    transition: ease-in 0.5s;
}
@media screen and (min-width:300px) {
    .a1 i{
        font-size: 100px;
    }
    .drop-content a{
        font-size: 38px;
    }
    .logo{
        height: 100px;
        width: 100px;
        margin-top: 50px;
    }
    .div3{
        margin-top: 100px;
    }
    .flip-card{
        width: 720px;
        height: 900px;
        font-size: 55px;
    }
    .h4{
        font-size: 55px;
    }
    .div4{
        width: 250px;
        height: 250px;
    }
    .arrow{
        font-size: 150px;
    }
    .about{
        font-size: 60px;
        margin-top: 600px;
    }
    .p1{
        font-size: 38px;
        margin: 30px;
    }
    .skills{
        font-size: 60px;
        margin-top: 600px;
    }
    .div8{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10%;
    }
    .imgc{
        height: 400px;
        width: 400px;
    }
    .imgjs{
        height: 400px;
        width: 400px;
    }
    .imghtml{
        height: 400px;
        width: 400px;
    }
    .imgcss{
        height: 400px;
        width: 400px;
    }
    .projects{
        font-size: 60px;
        margin-top: 700px;
    }
    .p2{
        font-size: 38px;
        margin: 30px;
    }
    #div9 img{
        width: 600px;
        height: 1200px;
    }
    .div11{
        margin: 900px 0px 400px 0px;
        width: 900px;
        height: 1000px;
    }
    .getintouch{
        font-size: 60px;
    }
    .inp1{
        height: 70px;
        background-color: rgba(255, 255, 255, 0.359);
        color: white;
        font-size: 28px;
    }
    .inp2{
        height: 500px;
        background-color: rgba(255, 255, 255, 0.359);
        color: white;
        font-size: 28px;
    }
    .btn{
        width: 200px;
        background-color: rgba(240, 248, 255, 0);
        color: white;
        font-size: 30px;
    }
}
@media screen and (min-width:700px) {
        .a1 i{
            font-size: 50px;
        }
        .drop-content a{
            font-size: 32px;
        }
        .logo{
            height: 40px;
            width: 40px;
            margin-top: 0px;
        }
        .flip-card{
            width: 500px;
            height: 625px;
            font-size: 40px;
        }
        .h4{
            font-size: 32px;
        }
        .div4{
            width: 150px;
            height: 150px;
        }
        .arrow{
            font-size: 80px;
        }
        .flip-card-back p{
            font-size: 32px;
        }
        .about{
            font-size: 45px;
        }
        .p1{
            font-size: 32px;
        }
        .skills{
            font-size: 45px;
        }
        .imghtml{
            height: 250px;
            width: 250px;
        }
        .imgc{
            height: 250px;
            width: 250px;
        }
        .imgcss{
            height: 250px;
            width: 250px;
        }
        .imgjs{
            height: 250px;
            width: 250px;
        }
        .projects{
            font-size: 45px;
        }
        .p2{
            font-size: 32px;
        }
        #div9 img{
            width: 350px;
            height: 700px;
        }
        .div11{
            width: 900px;
            height: 600px;
        }
        .getintouch{
            font-size: 45px;
        }
        .inp1{
            height: 40px;
            font-size: 18px;
        }
        .inp2{
            height: 200px;
            font-size: 18px;
        }
        .btn{
            font-size: 25px;
        }
}
@media screen and (min-width:1024px) {
        .a1 i{
            font-size: 35px;
        }
        .drop-content a{
            font-size: 20px;
        }
        .logo{
            width: 30px;
            height: 30px;
        }
        .flip-card{
            width: 300px;
            height: 375px;
        }
        .h4{
            font-size: 20px;
        }
        .flip-card-back p{
            font-size: 20px;
        }
        .div4{
            width: 100px;
            height: 100px;
        }
        .arrow{
            font-size: 50px;
        }
        .p1{
            font-size: 22px;
        }
        .div8{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .imgc{
            width: 150px;
            height: 150px;
        }
        .imghtml{
            width: 150px;
            height: 150px;
        }
        .imgcss{
            width: 150px;
            height: 150px;
        }
        .imgjs{
            width: 150px;
            height: 150px;
        }
        .p2{
            font-size: 22px;
        }
        #div9 img{
            width: 400px;
            height: 800px;
        }
        .div11{
            height: fit-content;
            width: 600px;
            margin-top: 400px;
        }
        .getintouch{
            font-size: 30px;
    
        }
        .inp1{
            height: 30px;
            font-size: 13px;
        }
        .inp2{
            font-size: 13px;
        }
        .btn{
            font-size: 18px;
        }
}